{% extends '../base.html' %}

<!DOCTYPE html>
<html>
    <body>
        {% block pagecontent %}
        <style type="text/css">
            td {
                padding: 0 15px;
            }
            th {
                padding: 0 15px;
            }
        </style>
        <a href="{% url 'index' %}" style="float: right;"><button>Log Out</button></a>
        <h1>Courses Offered</h1>
        <form action="", onsubmit="", method="post">
            {% csrf_token %}
            {{lookupForm}}
            <input type="submit" id="submit" value="Search">
            <br>
        </form>
        <hr>
        {{errorMsg}}
        <table>
            {% if testVal == 1 %}
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Course Section</th>
                    <th>Department</th>
                </tr>
            {% endif %}
            {% for row in results %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </body>
</html>