<!DOCTYPE html>
<html>
    <body>
        <style type="text/css">
            td {
                padding: 0 15px;
            }
            th {
                padding: 0 15px;
            }
        </style>
        <form action="{% url 'index' %}" method="get" style="float: right;">
            <button type="submit" id="back">Log Out</button>
        </form>
        <form action="{% url 'admin' %}" method="get" style="float: right;">
            <button type="submit" id="back">Back to Admin Home</button>
        </form>

        <h1>List of professors</h1>
        <p>Show professors sorted by one of the following criteria:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{adminSortSelect}}
            <button type="submit" id="submit">Search</button>
            <br>
        </form>
        <hr>
        {{errorMsg}}
        <table>
            {% if testVal == 1 %}
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Salary ($)</th>
                </tr>
            {% endif %}
            {% for row in results %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.dept_name_id}}</td>
                    <td>{{row.salary}}</td
                </tr>
            {% endfor %}
        </table>
    </body>
</html>