{% extends '../base.html' %}

<!DOCTYPE html>
<html>
    <body>
        {% block pagecontent %}
        <style type="text/css">
            td {
                padding: 0 15px;
            }
            th {
                padding: 0 15px;
            }
        </style>
        <a href="{% url 'index' %}" style="float: right;"><button>Log Out</button></a>
        <a href="{% url 'admin' %}" style="float: right;"><button>Back to Admin Home</button></a>

        <h1>Professors' Salaries ($)</h1>
        <table>
            <tr>
                <th>Department Name</th>
                <th>Minimum</th>
                <th>Maximum</th>
                <th>Average</th>
            </tr>
            {% for r in rows %}
                <tr>
                    <td>{{r.0}}</td>
                    <td>{{r.1}}</td>
                    <td>{{r.2}}</td>
                    <td>{{r.3}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </body>
</html>