{% extends '../base.html' %}

<!DOCTYPE html>
<html>
    <body>
        {% block pagecontent %}
        <style type="text/css">
            td {
                padding: 0 15px;
            }
            th {
                padding: 0 15px;
            }
        </style>
        <a href="{% url 'index' %}" style="float: right;"><button>Log Out</button></a>
        <a href="{% url 'admin' %}" style="float: right;"><button>Back to Admin Home</button></a>

        <h1>Professors's performance</h1>
        <h2>Please fillout the following form to search the database</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{adminPrefForm}}
            <button type="submit" id="submit">Search</button>
            <br>
        </form>
        <hr>
        {{errorMsg}}
        <table>
            {% if testVal == 1 %}
                <tr>
                    <th>Name</th>
                    <th>Funding ($)</th>
                    <th>Papers Published</th>
                    <th>Num. of Students Taught</th>
                    <th>Num. of Courses Taught</th>
                </tr>
            {% endif %}
            {% for row in results %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </body>
</html>