
#F3. Performance: Given a professor's name, an academic year, 
#                 and a semester, show the following for the professor: the total 
#                 number of course sections taught during the semester,
#                 the total number of students taught, the total dollar amount 
#                 of funding the professor has secured, and the total number 
#                 of papers the professor has published. 

<!DOCTYPE html>
<html>
    <body>
        <form action="{% url 'index' %}" method="get" style="float: right;">
            <button type="submit" id="back">Log Out</button>
        </form>
        <form action="{% url 'admin' %}" method="get" style="float: right;">
            <button type="submit" id="back">Back to Admin Home</button>
        </form>

        <h1>Professors' performance</h1>
        <h2>Please fillout the following form to search the database<h2>
        <form action="" method="POST">
            {{adminPrefForm}}
            <button type="submit" id="submit">Search</button>
            <br>
        </form>
        <hr>
        {{errorMsg}}
        <table>
        {% for row in results %}
            <tr>
                <tc>{{row.name}}</tc>
                <tc>{{}}</tc>
                <tc>{{}}</tc>
                <tc>{{}}</tc>
                <tc>{{}}</tc>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>